/* ==== BASE STYLES ==== */
:root {
  --primary-color: #0B3D91;
  --secondary-color: #F7C59F;
  --accent1-color: #1f0606;
  --accent2-color: #ffffff;
  --heading-font: 'Bebas Neue', sans-serif;
  --text-font: 'Open Sans', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a{
  text-decoration: none;
}

.hero{
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
.hero article {
    position: absolute;
    float: right;
    top: 400px;
    padding: 20px;
    opacity: 0.8;
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

header img {
  width: 100px;
  height: auto;
  padding: 20px;
}

header nav {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

header nav a:hover {
  color: var(--accent2-color);
}

footer {
  color: var(--accent2-color);
  text-align: center;
  padding: 10px;
}

footer img {
  width: 30px;
  height: auto;
}

footer p {
  margin: 10px;
}