main {
    max-width: 800px;
}

nav {
    color: black;
    background-color: #f0f0f0;
    padding: 10px;
}

nav a {
    list-style-type: none;
    padding: 5px;
    text-decoration: double;
}

h1 {
    color: #313030;
}

aside {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border: #f0f0f0 1px solid;
    color: #313030;
    width: fit-content;
    text-align: left;
}

aside img {
    width: 200px;
    height: auto;
    border: #313030;
    padding: 5px;
    box-shadow: inset;

}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 15px;
    border-top: #313030 5px solid;
}